{% extends "default.html" %}
{% block title %}Firmware SWIDs{% endblock %}

{% block nav %}{% include 'component-nav.html' %}{% endblock %}

{% block content %}

<div class="card">
  <div class="card-body">
    <h2 class="card-title">Software Bill of Materials</h2>
    <p class="card-text">
{% if md.fw.remote.is_public %}
      This information is also available <a href="{{url_for('devices.route_swids', component_id=md.component_id)}}">on the public device page</a>.
{% else %}
      This information will be available on a public device page when the firmware has been moved
      to <code>testing</code> or <code>stable</code>.
{% endif %}
    </p>
    <a class="card-link btn btn-info" href="{{url_for('components.route_swids_archive', component_id=md.component_id)}}">
      Export as SWID archive
    </a>
    <a class="card-link btn btn-info" href="{{url_for('components.route_swids_cyclonedx', component_id=md.component_id)}}">
      Export as CycloneDX
    </a>
    <a class="card-link btn btn-info" href="{{url_for('components.route_swids_spdx', component_id=md.component_id)}}">
      Export as SPDX
    </a>
  </div>
</div>

{% for identity in identities %}
<a name="{{identity.tag_id}}"></a>
<div class="card mt-3">
  <h2 class="card-header card-title list-group-item-{{'info' if identity.generator == 'LVFS' else 'primary'}}">
    {{identity.software_name or 'Unknown'}}
{% if identity.software_version %}
    &mdash; v{{identity.software_version}}
{% endif %}
    <div class="float-right">
      <code>{{identity.tag_id}}</code>
    </div>
  </h2>
  <div class="card-body">
    <table class="table card-text table-borderless">
{% if identity.tag_version %}
      <tr class="row">
        <th class="col-2">Tag Version</th>
        <td class="col">{{identity.tag_version}}</td>
      </tr>
{% endif %}
{% if identity.summary %}
      <tr class="row">
        <th class="col-2">Summary</th>
        <td class="col">{{identity.summary}}</td>
      </tr>
{% endif %}
{% if identity.product %}
      <tr class="row">
        <th class="col-2">Product</th>
        <td class="col">{{identity.product}}</td>
      </tr>
{% endif %}
{% if identity.colloquial_version %}
      <tr class="row">
        <th class="col-2">Colloquial Version</th>
        <td class="col"><code>{{identity.colloquial_version}}</code></td>
      </tr>
{% endif %}
{% if identity.revision %}
      <tr class="row">
        <th class="col-2">Revision</th>
        <td class="col">{{identity.revision}}</td>
      </tr>
{% endif %}
{% if identity.edition %}
      <tr class="row">
        <th class="col-2">Edition</th>
        <td class="col">{{identity.edition}}</td>
      </tr>
{% endif %}
{% for entity in identity.entities %}
      <tr class="row">
        <th class="col-2">Entity</th>
        <td class="col">
{% if entity.regid %}
          <a href="https://{{entity.regid}}/">{{entity.name}}</a>
{% else %}
          {{entity.name}}
{% endif %}
        </td>
        <td class="col-5">
{% for role in entity.roles %}
          <span class="badge badge-pill badge-primary">{{role.name}}</span>
{% endfor %}
        </td>
      </tr>
{% endfor %}
{% for link in identity.links %}
      <tr class="row">
        <th class="col-2">{{rel_map.get(link.rel)}}</th>
{% if link.identity %}
        <td class="col"><a href="#{{link.href[5:]}}"><code>{{link.identity.software_name}} v{{link.identity.software_version}}</code></a></td>
{% else %}
        <td class="col"><a href="{{link.href}}">{{link.href_for_display}}</a></td>
{% endif %}
        <td class="col-5"></td>
      </tr>
{% endfor %}
{% for payload in identity.payloads %}
      <tr class="row">
        <th class="col-2">Payload</th>
        <td class="col-10">
{% if payload.name %}
          <code>{{payload.name}}</code>
{% endif %}
          <ul class="mt-3">
{% if payload.size %}
            <li>Size: {{format_size(payload.size)}}</li>
{% endif %}
{% for hash in payload.hashes %}
            <li>{{hash.alg_id_for_display}}: <code>{{hash.value}}</code></li>
{% endfor %}
          </ul>
        </td>
      </tr>
{% endfor %}
{% for evidence in identity.evidences %}
      <tr class="row">
        <th class="col-2">Evidence</th>
        <td class="col-10">
{% if evidence.device_id %}
          <code>{{evidence.device_id}}</code>
{% endif %}
{% if evidence.date %}
          at {{evidence.date.strftime('%F %T')}}
{% endif %}
        </td>
      </tr>
{% endfor %}
{% if identity.generator %}
      <tr class="row">
        <th class="col-2">Generator</th>
        <td class="col">
{% if identity.generator_href %}
          <a href="{{identity.generator_href}}">{{identity.generator}}</a>
{% else %}
          {{identity.generator}}
{% endif %}
        </td>
      </tr>
{% endif %}
    </table>
  </div>
</div>

{% endfor %}

{% endblock %}
