{% extends "default.html" %}
{% block title %}Firmware Details{% endblock %}

{% block nav %}{% include 'firmware-nav.html' %}{% endblock %}

{% block content %}

<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">Reports</h2>
    <p class="card-text">
      Reports are used to verify the firmware was deployed onto actual hardware correctly.
    </p>
{% if reports|length == 0 %}
    <div class="alert alert-warning" role="alert">
      <p class="card-text">
        <strong>This firmware has no uploaded reports!</strong>
        Some operating systems may not offer this firmware as an update until a
        <a href="https://lvfs.readthedocs.io/en/latest/testing.html#signed-reports">fwupd success
        report</a> has been uploaded.
      </p>
    </div>
{% endif %}
{% if reports|length > 0 and g.user.check_acl('@admin') %}
  <a class="btn btn-primary" href="{{url_for('firmware.route_analytics_reports_export', firmware_id=fw.firmware_id)}}">
    Export All</a>
{% endif %}
  </tr>
  </div>
</div>

{% for r in reports %}
<div class="card mt-3">
  <h2 class="card-header card-title list-group-item-{{r.color}}">
    {{r.fw.vendor.display_name}} {{r.fw.names|join(' & ')}}
    <code class="float-right">{{format_humanize_naturaltime(r.timestamp)}}</code>
  </h2>
  <div class="card-body">
{% if r.user_id %}
    <p class="text-muted card-text">
      The QA URL for this report is <code>{{url_for('reports.route_share', _external=True, _scheme='https', report_id=r.report_id, guid=r.get_attribute_by_key("Guid").value)}}</code>
      which can be used for certification submissions.
      Requesting data from this URL requires authentication using a username and token.
    </p>
{% endif %}
    <table class="table">
{% if r.user_id %}
      <tr class="row table-borderless">
        <th class="col col-sm-4">Uploader</th>
        <td class="col col-sm-8">
{% if g.user.check_acl('@admin') %}
          <code>{{r.user.username}} ({{r.user.vendor.display_name}})</code>
{% else %}
          {{r.user.vendor.display_name}}
{% endif %}
        </td>
      </tr>
{% endif %}
{% for attr in r.attributes|sort %}
      <tr class="row table-borderless">
        <th class="col col-sm-4">{{attr.key}}</th>
        <td class="col col-sm-8"><code>{{attr.value}}</code></td>
      </tr>
{% endfor %}
    </table>
{% if g.user.check_acl('@admin') %}
    <form action="{{url_for('reports.route_delete', report_id=r.report_id)}}" method="POST">
      <a class="card-link btn btn-info" href="{{url_for('reports.route_view', report_id=r.report_id)}}">As JSON</a>
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <button class="card-link btn btn-danger float-right">Delete</button>
    </form>
{% endif %}
  </div>
</div>
{% endfor %}


<form method="post" action="{{url_for('firmware.route_report_upload', firmware_id=fw.firmware_id)}}" enctype="multipart/form-data" class="form">
<input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">Add Offline Report</h2>
    <p class="card-text">
      Upload a <code>.fwupdreport</code> file generated from <code>fwupdmgr report-export --sign</code>,
      available in fwupd v1.9.11 and later versions.
    </p>
    <div class="form">
      <div class="form-group">
        <input type="file" class="form-control-file" id="file-input" id="file" name="file" required/>
      </div>
      <input type="submit" class="btn btn-primary" value="Upload">
    </div>
  </div>
</div>
</form>

{% endblock %}
