{% extends "default.html" %}
{% block title %}Task Scheduler Details{% endblock %}
{% block nav %}{% include 'task-nav.html' %}{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h2 class="card-title">Task Scheduler Details</h2>
<form method="post" action="{{url_for('tasks.route_scheduler_modify', task_scheduler_id=task_sched.task_scheduler_id)}}">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
  <div class="form-group">
    <label for="value">Function:</label>
    <input type="text" class="form-control" id="function" name="function" value="{{task_sched.function}}" required />
  </div>
  <div class="form-group">
    <label for="value">Interval:</label>
    <input type="number" class="form-control" id="interval" name="interval" value="{{task_sched.interval}}" required />
  </div>
  <div class="form-group">
    <label for="value">Priority:</label>
    <input type="number" class="form-control" id="priority" name="priority" value="{{task_sched.priority}}" required />
  </div>
  <input type="submit" class="card-link btn btn-primary" value="Save">
  <button type="button" class="card-link btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
</form>
  </div>
</div>

<!-- modal dialog -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Really Delete Task Scheduler?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        The LVFS might break if you remove a task scheduler.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="{{url_for('tasks.route_scheduler_delete', task_scheduler_id=task_sched.task_scheduler_id)}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
