{% extends "default.html" %}
{% block title %}Client ACLs{% endblock %}

{% block content %}

{% if client_acls|length == 0 %}
<div class="card">
  <div class="card-body">
    <h2 class="card-title">Clients</h2>
    <p class="card-text">
      No client ACLs have been created.
    </p>
  </div>
</div>

{% else %}

{% for cacl in client_acls %}
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">
      <code>{{cacl.addr}}</code>
{% if cacl.cnt %}
      <p class="text-secondary float-right">Blocked {{cacl.cnt}} times, last seen {{format_humanize_naturaltime(cacl.mtime)}}</p>
{% endif %}
    </h2>
    <p>{{cacl.message}}</p>
    <p class="text-secondary float-right">Added by {{cacl.user.username}} {{format_humanize_naturaltime(cacl.ctime)}}</p>
    <a class="card-link btn btn-info"
      href="{{url_for('clients.route_acl_show', client_acl_id=cacl.client_acl_id)}}"
      role="button">Details &raquo;</a>
  </div>
</div>
{% endfor %}

{% endif %}

<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">Create a new client ACL</h2>
    <form method="post" action="{{url_for('clients.route_acl_create')}}" class="form">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <div class="form-group card-text">
        <label for="addr">Address, e.g. <code>10.0.0.1</code></label>
        <input class="form-control" type="text" id="addr" name="addr" placeholder="IP address" required />
      </div>
      <input class="card-link btn btn-primary" type="submit" value="Add"/>
    </form>
  </div>
</div>

{% endblock %}
