{% extends "default.html" %}
{% block title %}{{fws[0].md_prio.name if fws else 'No firmware for device found'}}{% endblock %}

{% block head %}
{% if fws|length > 0 %}
    <link rel="alternate" type="application/atom+xml"
      title="LVFS: {{fws[0].md_prio.name}}"
      href="{{url_for('devices.route_show_atom', appstream_id=appstream_id)}}" />
{% endif %}
{% endblock %}

{% block nav %}{% include 'device-nav.html' %}{% endblock %}

{% block content %}

{% if fws|length == 0 %}
<div class="card">
  <div class="card-body">
    <h2 class="card-title">Device Details</h2>
    <p class="card-text">No firmware is available for this device.</p>
  </div>
</div>

{% else %}

<div class="card">
  <div class="card-body">
    <h2 class="card-title">
      {{fws[0].vendor.display_name_with_team}} {{fws[0].md_prio.name}}
    </h2>
    <p class="card-text">{{fws[0].md_prio.description}}</p>
{% if fws[0].mds[0].is_eol %}
  <div class="alert alert-warning mt-1 card-text" role="alert">
    <strong>These devices are unlikely to get updates to fix critical security problems.</strong>
    The vendor has marked this device end-of-life and are no longer officially supported.
  </div>
{% endif %}
  <a class="card-link btn btn-info" href="{{url_for('devices.route_show_atom', appstream_id=appstream_id)}}">
    <img class="fa mr-2" src="{{url_for('cdn', filename='img/rss-solid.svg')}}" width="16px" height="16px"/>
    Atom Feed
  </a>
  </div>
</div>

{% for fw in fws %}
<a name="{{fw.version_display}}"></a>
<div class="card mt-3">
  <div class="card-body">
  <h2 class="card-title">Version {{fw.version_display}}:</h2>
{% if fw.remote.name == 'testing' %}
<p class="card-text">
  <b>Warning:</b> This firmware is in the testing state and may not be suitable for
  production systems.
</p>
{% endif %}
<div class="table card-text">
{% if fw.release_ts %}
  <div class="row">
    <div class="col col-sm-2 font-weight-bold">Released</div>
    <div class="col col-sm-10">{{fw.release_ts.strftime('%F %T')}}</div>
  </div>
{% endif %}
  <div class="row">
    <div class="col col-sm-2 font-weight-bold">State</div>
    <div class="col col-sm-10">{{fw.remote.name}}</div>
  </div>
  <div class="row">
    <div class="col col-sm-2 font-weight-bold">Urgency</div>
    <div class="col col-sm-10">{{fw.md_prio.release_urgency}}</div>
  </div>
  <div class="row">
    <div class="col col-sm-2 font-weight-bold">License</div>
    <div class="col col-sm-10">
{% if fw.md_prio.project_license.url %}
      <a href="{{fw.md_prio.project_license.url}}">{{fw.md_prio.project_license.name}}</a>
{% else %}
      {{fw.md_prio.project_license.name}}
{% endif %}
    </div>
  </div>
{% if fw.md_prio.requires_source_url %}
  <div class="row">
    <div class="col col-sm-2 font-weight-bold">Source</div>
    <div class="col col-sm-10">
      <a href="{{fw.md_prio.source_url}}">{{fw.md_prio.source_url}}</a>
    </div>
  </div>
{% endif %}
  <div class="row">
    <div class="col col-sm-2 font-weight-bold">Filename</div>
    <div class="col col-sm-10">
{% if fw.inhibit_download %}
      <p class="text-muted">
        The OEM that uploaded this firmware has chosen to disable downloads of
        the firmware when using a web browser.
        End users should use a client such as fwupdmgr to download and deploy
        the firmware.
      </p>
{% else %}
      <a href="{{fw.revisions[0].url}}">{{fw.original_filename}}</a>
{% endif %}
    </div>
  </div>
{% if fw.md_prio.descriptions %}
  <div class="row">
    <div class="col col-sm-2 font-weight-bold">Description</div>
    <div class="col col-sm-10">
      {{format_html_from_markdown(fw.md_prio.descriptions[0].value)|safe}}
{% if fw.md_prio.details_url_with_fallback %}
      <a class="btn" href="{{fw.md_prio.details_url_with_fallback}}">More details</a>
{% endif %}
    </div>
  </div>
{% endif %}
{% if fw.md_prio.issues %}
  <div class="row">
    <div class="col col-sm-2 font-weight-bold">Fixed issues:</div>
    <div class="col col-sm-10">
      <ul class="list-group mb-3">
{% for issue in fw.md_prio.issues %}
        <li class="list-group-item">
          <a class="btn" href="{{issue.url}}">{{issue.value_display}}</a>
{% if issue.description %}
          <p>{{issue.description}}</p>
{% endif %}
        </li>
{% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
  <div class="row">
    <div class="col col-sm-2 font-weight-bold">Security</div>
    <div class="col col-sm-10">
      <ul class="list-group">
{% for claim in (fw.autoclaims+fw.claims)|selectattr('enabled')|rejectattr('kind', 'equalto', 'swids')|sort() %}
{% if claim.summary %}
        <li class="list-group-item">
{% if claim.icon_name %}
          <img class="mr-2" src="{{url_for('cdn', filename='img/' + claim.icon_name + '-solid.svg')}}" width="22px" height="22px" />
{% endif %}
          {{claim.summary}}
{% if claim.url %}
          <span class="float-right"><a class="btn btn-sm btn-outline-info" href="{{claim.url}}">More info</a></span>
{% endif %}
        </li>
{% endif %}
{% endfor %}
{% if fw.md_prio.swids %}
        <li class="list-group-item">
          <img class="mr-2" src="{{url_for('cdn', filename='img/check-circle-solid.svg')}}" width="22px" height="22px" />
          Includes Software Bill of Materials
          <span class="float-right">
            <a class="btn btn-sm btn-outline-info" href="{{url_for('devices.route_swids', component_id=fw.md_prio.component_id)}}">
              More info
            </a>
          </span>
        </li>
{% endif %}
      </ul>
    </div>
  </div>
{% if fw.reports_verified %}
  <div class="row mt-3">
    <div class="col col-sm-2 font-weight-bold">Tested By</div>
    <div class="col col-sm-10">

      <ul class="list-group">
{% for rpt in fw.reports_verified %}
        <li class="list-group-item">
          <img class="fas" src="/uploads/{{rpt.user.vendor.icon}}" width="22px" height="22px" />
          {{rpt.verified_vendor.display_name}}
          <small>on {{rpt.verified_description}}</small>
          <span class="float-right">
            {{format_humanize_naturaltime(rpt.timestamp)}}
          </span>
        </li>
{% endfor %}
      </ul>
      <h6 class="text-muted mt-3">
        The vendors testing the update provide no warranty of any kind (express
        or implied), including but not limited to the warranties of merchantability,
        fitness for a particular purpose or non-infringement.
        In no event shall these vendors be liable for any claim, damages or
        other liability.
      </h6>
    </div>
  </div>
{% endif %}
{% if vendors_trusted_report %}
  <div class="row mt-3">
    <div class="col col-sm-2 font-weight-bold">Release Gating</div>
{% for vendor in vendors_trusted_report %}
    <div class="col col-sm-10">
      <ul class="list-group">
{% if fw.has_vendor_trusted_report(vendor.group_id) %}
        <li class="list-group-item">
          <img class="mr-2" src="{{url_for('cdn', filename='img/check-circle-solid.svg')}}" width="22px" height="22px" />
          Available to {{vendor.distro_name}} users
        </li>
{% else %}
        <li class="list-group-item">
          <img class="mr-2" src="{{url_for('cdn', filename='img/times-circle-solid.svg')}}" width="22px" height="22px" />
          Not available to {{vendor.distro_name}} users
{% if vendor.trusted_reports_url %}
          <span class="float-right"><a class="btn btn-sm btn-outline-info" href="{{vendor.trusted_reports_url}}">More info</a></span>
{% endif %}
        </li>
{% endif %}
      </ul>
    </div>
{% endfor %}
  </div>
{% endif %}
</div>
{% if fw.md_prio.shards %}
    <a class="card-link btn btn-info" href="{{url_for('devices.route_shards', component_id=fw.md_prio.component_id)}}">Firmware Details</a>
{% if fw_previous[fw] %}
    <a class="card-link btn btn-info" href="{{url_for('devices.route_shards_diff',
                                                      component_id_old=fw_previous[fw].md_prio.component_id,
                                                      component_id_new=fw.md_prio.component_id)}}">Compare with previous</a>
{% endif %}
{% endif %}
  </div>
</div>

{% endfor %}

{% endif %}

{% endblock %}
