<nav>
  <div class="text-center mb-3">
    <div class="btn-group" role="group">
      <a class="btn btn-falcon-{{'primary' if request.url_rule.endpoint == 'protocols.route_show' else 'default'}}"
        href="{{url_for('protocols.route_show', protocol_id=protocol.protocol_id)}}">Details</a>
      <a class="btn btn-falcon-{{'primary' if request.url_rule.endpoint == 'protocols.route_flag_list' else 'default'}}"
        href="{{url_for('protocols.route_flag_list', protocol_id=protocol.protocol_id)}}">Flags</a>
    </div>
  </div>
</nav>
